page-home {
	[_nghost-c0] .cropper[_ngcontent-c0]{
		color: #000000
	}
	
	[_nghost-c0] .cropper[_ngcontent-c0] .resize[_ngcontent-c0]{
		opacity: 1.0
	}

	[_nghost-c0] .cropper[_ngcontent-c0]:after{
		border: 2px solid
	}
	
	[_nghost-c0] .cropper[_ngcontent-c0] .resize[_ngcontent-c0] .square[_ngcontent-c0]{
		background-color: #000000
	}
}
